// colors
$color-primary: #006dcf;
$color-primary-light: #338ad9;
$color-primary-dark: #0057a6;

$color-secondary: #d1e231;
$color-secondary-light: #dae85a;
$color-secondary-dark: #a7b527;

$color-tertiary: #7c0a02;
$color-tertiary-light: #963b35;
$color-tertiary-dark: #630802;

$color-light-1: #eaebeb;
$color-light-2: #d5d6d6;
$color-light-3: #c0c2c2;

$color-white: #ffffff;
$color-black: #000000;

// font
$default-font-size: 1.6rem;

// font family
$font-display: 'Expletus Sans', cursive;
$font-normal: 'Rubik', sans-serif;
$font-barcode: 'Libre Barcode 39 Text', cursive;

// grid
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 6rem;

