.header {
    height: 100vh; 
    padding: 4rem;  
    width: 100%;
    background-color: rgba($color-black, .9);
    overflow: hidden;

    &__logo {
        width: 8rem;
        height: 8rem;
        display: inline-block;

        @include respond(phone) { //width < 576
            width: 10rem;
            height: 10rem;
        }

        &--icon {
            width: 100%;
        }
    }

    &__text {
        text-align: end;
        height: 95%; 
        padding: 10vh 5vw;
        display: grid;
        grid-template-rows: 1fr repeat(3, min-content) repeat(2, 1fr);
        justify-items: end;
        align-items: center;
        grid-gap: 2rem;


    }

    &__heading--2 {
        grid-row: 2 / 3;
        color: $color-white;
        font-size: 4rem;

        @include respond(phone) { //width < 576
            font-size: 5rem;
        }
    }

    &__heading--1 {
        font-family: $font-display;
        grid-row: 3 / 4;
        color: lighten($color-primary, 20);
        font-size: 8rem;

        @include respond(phone) { //width < 576
            font-size: 7rem;
        }
    }

    &__textSlider {
        grid-row: 4 / 5;
        color: $color-secondary;
        font-size: 3rem;
        
        @include respond(phone) { //width < 576
            font-size: 4rem;
        }
    }

    &__btn {
        grid-row: 5 / 6;

        .btn__downloadIcon {
            height: 2rem;
            margin-left: 1rem;
        }
    }
}